Source: mezzanine
Section: devel
Priority: extra
Maintainer: Nobody <nobody@kainx.org>
Standards-Version: 3.0.0.1

Package: mezzanine
Architecture: all
Depends: ${perl:Depends}
Description: The Mezzanine Build System
 (this debian package is not official yet)
